@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;800 &display=swap');:root {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    --main-color: rgb(235, 235, 235);
}

body {
    max-width: 1980px;
    margin: auto;
}

header {
    background-image: url(../img/hands-on-ice.jpg);
    background-size: cover;
    background-position: center;
    
}

#qmi-logo img {
    width: 60%;
    height: auto;
}

nav {
    display: flex;

}

.burger-icon {
    font-size: 3rem;
}

.menu {
    text-decoration: none;
}
/*
@media (min-width: 650px) {

    .navbar-toggle {
        display: none;
    }


    header nav {
        display: flex;
    }

    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
    }

}


@media (min-width: 600px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 980px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
*/
